<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название страницы</title>
    <!-- Подключаем CSS файл -->
    <link rel="stylesheet" href="app/static/css/main.css">
</head>
<body>
    <!-- Здесь будет ваш контент -->
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://storage.googleapis.com/kaggle-datasets-images/3316555/5771012/b7582f868bebaf4246b7f25594ed37cb/dataset-card.png?t=2023-05-25-08-41-12" alt="Logo" class="logo">
                <span class="navbar-brand-content">Работа найдётся для каждого</span>
            </a>
        </div>
    </nav>
</body>
</html>
