{% extends "base.html" %}
{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Введите профессию для поиска" name="name_vacancy" value="{{ name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100">Найти</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 d-flex justify-content-end"> <!-- Flex-контейнер для выравнивания по правой стороне -->
                {% if draft_response %}
                    <a href="/responses/{{ draft_response.id }}">
                        <button type="submit" class="bin btn btn-primary position-relative response-btn">
                            Отклик
                            <div class="badge position-absolute badge rounded-pill">
                                {{ vacancies_count }}
                            </div>
                        </button>
                    </a>
                {% else %}
                    <button type="button" class="bin btn btn-primary position-relative response-btn disabled" disabled>
                        Отклик
                        <div class="badge position-absolute badge rounded-pill">
                            0
                        </div>
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="cards-wrapper">
            {% for vacancy in vacancies %}
                {% include "vacancy_card.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}
