{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            <div class="col md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Введите профессию для поиска" name="name_vacancy" value="{{ name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100">Найти</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col md-4 justify-end">
                <a href="/vacancies/{{ draft_vacancy.id }}/" class="w-25">
                    <button type="submit" class="bin btn btn-primary position-relative w-100">
                        Отклик
                        <div class="badge position-absolute badge rounded-pill">
                            {{ companies_count }}
                        </div>
                    </button>
                </a>
            </div>
        </div>
        <div class="cards-wrapper">
            {% for company in companies %}
                {% include "vacancy_card.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}

