<div class="card">
    <div class="card-body">
        <div class="card-info">
            <img src="{{ vacancy.image }}" alt="{{ vacancy.name_vacancy }}">
            <h5 class="card-title">{{ vacancy.name }}</h5>
            <p class="card-text">от {{ vacancy.money_from }}₽ до {{ vacancy.money_to }}₽</p>
            <p class="card-text">{{ vacancy.city }}</p>
            <p class="card-text">{{ vacancy.name_company }}</p>
            <p class="card-text">Особенности: {{ vacancy.peculiarities }}</p>
        </div>
        <div class="card-btns d-flex flex-column w-100">
            <!-- Кнопка Подробнее -->
            <a href="/vacancies/{{ vacancy.id_vacancies }}/" class="btn btn-primary w-100 mb-2">Подробнее</a>
            
            <!-- Форма с кнопкой Откликнуться -->
            <form action="{% url 'add_vacancy' %}" method="POST" class="w-100">
                {% csrf_token %}
                <input type="hidden" name="id_vacancies" value="{{ vacancy.id_vacancies }}">
                <button type="submit" class="btn btn-success w-100">Откликнуться</button>
            </form>
        </div>
    </div>
</div>
