{% load static %}

{% if "http://localhost:8000/vacancies/" in request.build_absolute_uri %}

    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/{{ company.image }}' %}" alt="{{ company.name }}" class="card-img img-fluid">
            </div>
             <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ company.name }} </h5>
                    <p class="card-text">{{ company.money }}</p>
                    <div class="form-group">
                        <input disabled type="number" class="form-control" style="width: 250px" value={{ company.count }}>
                    </div>
                    <a href="/companies/{{ company.id }}/" class="btn btn-primary" style="width: 50px">
                        Откликнуться
                    </a>
                </div>
            </div>
         </div>
    </div>

{% else %}

    <div class="card">

        <div class="card-body" >

            <div class="card-info">
                
                <img src="{{ company.image }}" alt="{{ company.name }}">
                <h5 class="card-title">{{ company.name }}</h5>

                <p class="card-text">{{ company.money }}</p>
                <p class="card-text">{{ company.city }}</p>
                
                <p class="card-text">{{ company.name_company }}</p>
                 <p class="card-text">Особенности: {{ company.peculiarities }}</p>


            </div>

            <div class="card-btns">

                <a href="/companies/{{ company.id }}/" class="btn btn-primary center">
                    Откликнуться
                </a>

            </div>

        </div>

    </div>

{% endif %}